{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Угадайка</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>

<body>


        <form action= "{% url 'keras_model:image' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                    <div class="form__title">Угадайка (Hushchyn Danil creator)</div>
                   <div class="form__row">
                       <input class=" form__horizontal-img" name="image" type="file">
                  </div>

            </div>

        </form>


</div>
     <script>
         let urlImgRemove = "{% static 'imgs/remove.png' %}";
      </script>
   <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
   <script type="module" src="{% static 'js/index.js' %}"></script>
</body>
</html>
